.btn-outline-dark:hover {
    background: transparent;
    color: #212529;
}

.btn-outline-success:hover {
    background: transparent;
    color: #198754;
}

.btn-outline-danger:hover {
    background: transparent;
    color: #dc3545;
}